# dependencies
/node_modules
/.pnpm
/.yarn

# next.js
/.next/
/out/

# production
/build

# sqlite temporary journal files
data/*.db-wal
data/*.db-shm

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# Excel lock files
~$*.xlsx
